{% load static %}

{% block navbar %}
    <header class="container">
        <nav class="nav nav-tabs">
            <section class="col-xs-7 col-sm-8 col-md-5">
                <div class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle d-inline" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" >Drop
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'kokpit:homepage' %}">STRONA GŁÓWNA</a>
                        <a class="dropdown-item" href="{% url 'kokpit:menu' %}">MENU</a>
                        <a class="dropdown-item" href="{% url 'kokpit:promocje' %}">PROMOCJE</a>
                        <a class="dropdown-item" href="{% url 'kokpit:lokale' %}">LOKALE</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'kokpit:o_firmie' %}">O FIRMIE</a>
                        <a class="dropdown-item" href="{% url 'kokpit:dzieje_sie' %}">DZIEJE SIĘ</a>
                        <a class="dropdown-item" href="{% url 'kokpit:franczyza' %}">FRANCZYZA</a>
                        <a class="dropdown-item" href="{% url 'kokpit:kariera' %}">KARIERA</a>
                        <a class="dropdown-item" href="{% url 'kokpit:partnerzy' %}">NASI PARTNERZY</a>
                        <a class="dropdown-item" href="{% url 'kokpit:opinie' %}">TWOJA OPINIA</a>
                    </div>
                    <div class="nav-item d-inline">
                        <a href="{% url 'kokpit:homepage' %}">
                            <img src="{% static 'images/logo.png' %}" alt="pizzeria logo" width="200px" height="36px">
                        </a>
                    </div>
                </div>

            </section>
            <section class="hidden-xs hidden-sm col-md-4 itembar">
                <p>
                    <a href="{% url 'kokpit:menu' %}">MENU</a>
                    <a href="{% url 'kokpit:promocje' %}">PROMOCJE</a>
                    <a href="{% url 'kokpit:lokale' %}">LOKALE</a>
                </p>
            </section>
            <section class="col-xs-4 col-sm-3 col-md-2 nopadding">
                <p><a href="{% url 'kokpit:zamowienia' %}">ZAMÓW ONLINE</a></p>
            </section>
        </nav>
    </header>

    {#    <!-- Nav tabs -->#}
    {#    <ul class="nav nav-tabs" id="navId">#}
    {#        <li class="nav-item">#}
    {#            <a href="#tab1Id" class="nav-link active">Active</a>#}
    {#        </li>#}
    {#        <li class="nav-item dropdown">#}
    {#            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"#}
    {#               aria-expanded="false">Dropdown</a>#}
    {#            <div class="dropdown-menu">#}
    {#                <a class="dropdown-item" href="#tab2Id">Action</a>#}
    {#                <a class="dropdown-item" href="#tab3Id">Another action</a>#}
    {#                <div class="dropdown-divider"></div>#}
    {#                <a class="dropdown-item" href="#tab4Id">Action</a>#}
    {#            </div>#}
    {#        </li>#}
    {#        <li class="nav-item">#}
    {#            <a href="#tab5Id" class="nav-link">Another link</a>#}
    {#        </li>#}
    {#        <li class="nav-item">#}
    {#            <a href="#" class="nav-link disabled">Disabled</a>#}
    {#        </li>#}
    {#    </ul>#}
    {##}
    {#    <!-- Tab panes -->#}
    {#    <div class="tab-content">#}
    {#        <div class="tab-pane fade show active" id="tab1Id" role="tabpanel"></div>#}
    {#        <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>#}
    {#        <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>#}
    {#        <div class="tab-pane fade" id="tab4Id" role="tabpanel"></div>#}
    {#        <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>#}
    {#    </div>#}
    {##}
    {#    <script>#}
    {#        $('#navId a').click(e => {#}
    {#            e.preventDefault();#}
    {#            $(this).tab('show');#}
    {#        });#}
    {#    </script>#}
    {#    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">#}
    {#        <a class="navbar-brand" href="#">Navbar</a>#}
    {#        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"#}
    {#                aria-controls="collapsibleNavId"#}
    {#                aria-expanded="false" aria-label="Toggle navigation"></button>#}
    {#        <div class="collapse navbar-collapse" id="collapsibleNavId">#}
    {#            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">#}
    {#                <li class="nav-item active">#}
    {#                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
    {#                </li>#}
    {#                <li class="nav-item">#}
    {#                    <a class="nav-link" href="#">Link</a>#}
    {#                </li>#}
    {#                <li class="nav-item dropdown">#}
    {#                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"#}
    {#                       aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
    {#                    <div class="dropdown-menu" aria-labelledby="dropdownId">#}
    {#                        <a class="dropdown-item" href="#">Action 1</a>#}
    {#                        <a class="dropdown-item" href="#">Action 2</a>#}
    {#                    </div>#}
    {#                </li>#}
    {#            </ul>#}
    {#            <form class="form-inline my-2 my-lg-0">#}
    {#                <input class="form-control mr-sm-2" type="text" placeholder="Search">#}
    {#                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
    {#            </form>#}
    {#        </div>#}
    {#    </nav>#}
{% endblock navbar %}