{% block navbar %}
    <footer>
        <nav>
            <section>
                <div>
                    <button></button>
                    <div>
                        <a href="#">STRONA GŁÓWNA</a>
                        <a href="#">MENU</a>
                        <a href="#">PROMOCJE</a>
                        <a href="#">LOKALE</a>
                        <a href="#">O FIRMIE</a>
                        <a href="#">DZIEJE SIĘ</a>
                        <a href="#">FRANCZYZA</a>
                        <a href="#">KARIERA</a>
                        <a href="#">NASI PARTNERZY</a>
                        <a href="#">TWOJA OPINIA</a>
                    </div>
                </div>
                <div>
                    <a href="#">
                        <img src="#" alt="pizzeria logo">
                    </a>
                </div>
            </section>
            <section>
                <p>
                    <a href="#">MENU</a>
                    <a href="#">PROMOCJE</a>
                    <a href="#">LOKALE</a>
                </p>
            </section>
            <section>
                <p><a href="#">ZAMÓW ONLINE</a></p>
            </section>
        </nav>
    </footer>
{% endblock navbar %}